**/target/
**/build/
**/out/
**/bin/
.svn/
*.directory
.settings/
.project
.classpath
.idea/
*.iml
*.log
nb-configuration.xml
*.backup
/pref.xml
/gradle-app.setting
/*.zip
.gradle/
lib/
*.aux
*.toc
*.gz
*.fls
*.fdb*
*.out
