/*
 * Reduce the overall font size of the application

  Windows 12px -> em units    -> Mac 13px      |
  ----------------------------------------
       1px     -> 0.083333em  -> 1.08px ~ 2px
       2px     -> 0.166667em  -> 2.16px ~ 3px
       3px  = 0.25em
       4px  = 0.333333em
       5px  = 0.416667em
       6px  = 0.5em
       7px  = 0.583333em
       8px  = 0.666667em
       9px  = 0.75em
      10px  = 0.833333em
      11px  = 0.916667em
      12px  = 1em

      -fx-control-inner-background-alt is not defined for caspian
 */
.root {
    /* Hushes up Caspian without effecting Modena, the default is 2% */
    /*noinspection CssInvalidFunction*/
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, -6%);
}

.text {
    -fx-font-smoothing-type: gray;
}

.default-color0.chart-bar { -fx-bar-fill: CHART_COLOR_3; }
.default-color1.chart-bar { -fx-bar-fill: CHART_COLOR_1; }
.default-color2.chart-bar { -fx-bar-fill: CHART_COLOR_2; }

.chart-content {
    -fx-padding: 5px;
}

.chart-pie-label {
    -fx-padding: 3px;
}

.pie-legend-symbol.chart-pie {
    -fx-padding: 4px;
}

/* ==== Hides the focus around tables ==== */
.table-view:focused,
.tree-table-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
    -fx-background-radius: 0, 0;
}

/*.table-row-cell {
    -fx-cell-size: 1.75em;
}

.tree-table-row-cell {
    -fx-cell-size: 1.75em;
}*/

/* ==== Ensure we have odd/even background changes ==== */
.tree-table-row-cell:odd {
    -fx-background: -fx-control-inner-background-alt;
}

.tree-table-row-cell:odd:focused {
    -fx-background: -fx-selection-bar;
}

/* ==== Adjust margins of the status label for improved appearance ==== */
.status-label {
    -fx-graphic-text-gap: 0.833333em;
    -fx-label-padding: 0 0 0 0.25em;
}

.status-bar {
    -fx-padding: 4px;
    -fx-pref-height: 30px;
    -fx-background-color: lightgray, -fx-body-color;
    -fx-background-insets: 0, 1
}

.view-title {
    -fx-font-weight: bold;
    -fx-padding: 6 6 6 6;
}

.list-title {
    -fx-font-weight: bold;
}

.list-button {
    -fx-padding: 0.333333em 2.0em 0.333333em 2.0em;
}

.dialog {
    -fx-padding: 1.2em;
}

.form {
    -fx-hgap: 0.5em;
    -fx-vgap: 0.666666em;
    -fx-spacing: 0.5em;
}

.border {
    -fx-border-color: -fx-box-border;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.info-bar {
    -fx-hgap: 0.5em;
    -fx-spacing: 0.5em;
    -fx-padding: 0.3333em;
    -fx-font-weight: bold;
}

.summary-bar {
    -fx-padding: 0.3333em 0.75em 0.3333em 0.75em; /* 4 9 4 9 */
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 0 1 1 1, 1 2 2 1;
    -fx-font-weight: bold;
    -fx-size: 2em;
    -fx-text-fill: -fx-selection-bar-text;
}

/* ==== jGnash Pop over buttons ==== */
.pop-over-button .arrow-button {
    -fx-padding: 0;
}
.pop-over-button .arrow-button > .arrow {
    -fx-padding: 0;
}
.pop-over-button .menu-item:focused {
    -fx-background-color: transparent;
}
.pop-over-button .menu-item:focused .label {
    -fx-text-fill: -fx-text-base-color;
}
.pop-over-button .context-menu {
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-box-border;
}

/* ==== Hidden column headers ==== */
.hidden-column-header .column-header-background {
    visibility: hidden;
    -fx-padding: -2em;
    -fx-size: 0;
}

/* ==== Hide row focus for tables ==== */
.hidden-row-focus .table-row-cell {
    -fx-background-insets: 0, 0 0 0 0;
}

#disabled-cell {
    -fx-opacity: 0.4;
    -fx-font-weight: bold;
}

#enabled-cell {
    -fx-opacity: 1.0;
    -fx-font-weight: normal;
}

#tag-box {
    -fx-hgap: 1.0em;
    -fx-vgap: 0.666666em;
    -fx-padding: 1.2em;
}

#tag-pane {
    -fx-spacing: 1.0em;
}

#italic-label {
    -fx-font-style: italic;
}

#italic-negative-label {
    -fx-font-style: italic;
    -fx-text-fill: darkred;
}

#normal-label {
    -fx-font-style: normal;
}

#today-normal-label {
    -fx-font-style: normal;
    -fx-background-color: -fx-selection-bar;
}

#normal-negative-label {
    -fx-font-style: normal;
    -fx-text-fill: darkred;
}

#today-normal-negative-label {
    -fx-font-style: normal;
    -fx-text-fill: darkred;
    -fx-background-color: -fx-selection-bar;
}

#bold-label {
    -fx-font-style: normal;
    -fx-font-weight: bold;
}

#today-bold-label {
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-background-color: -fx-selection-bar;
}

#bold-negative-label {
    -fx-font-style: normal;
    -fx-text-fill: darkred;
    -fx-font-weight: bold;
}

#today-bold-negative-label {
    -fx-font-style: normal;
    -fx-text-fill: darkred;
    -fx-font-weight: bold;
    -fx-background-color: -fx-selection-bar;
}
