/*
 * Reduce the overall font size of the application
 */
.root{
    -fx-font-size: 0.833333em;
}

.dialog > .dialog-pane > .button-bar {
    -fx-font-size: 1.0em;
}

/*
 * Adjust margins of the status bar for improved appearance
 */
.status-label {
    -fx-graphic-text-gap: 0.833333em;
    -fx-label-padding: 0em 0em 0em 0.75em;
}

.view-title {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.list-title {
    -fx-font-weight: bold;
}

.list-button {
    -fx-padding: 0.333333em 2.0em 0.333333em 2.0em;
}

.busy-pane {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.dialog {
    -fx-padding: 1.2em;
}

.form {
    -fx-hgap: 0.5em;
    -fx-vgap: 0.666666em;
    -fx-spacing: 0.5em;
}

.info-bar {
    -fx-hgap: 0.333333em;
	-fx-padding: 10px;
	-fx-pref-height: 2.0em;
	-fx-background-color: lightgray, -fx-body-color;
	-fx-background-insets: 0, 1;
	-fx-font-size: 1.0em;
    -fx-font-weight: bold;
}

.icon-button {
    -fx-font-size: 0.85em;
}

#disabled-cell {
    -fx-opacity: 0.4;
    -fx-font-weight: bold;
}

#enabled-cell {
    -fx-opacity: 1.0;
    -fx-font-weight: normal;
}

#italic-label {
    -fx-font-style: italic;
}

#italic-negative-label {
    -fx-font-style: italic;
    -fx-text-fill: darkred;
}

#normal-label {
    -fx-font-style: normal;
}

#normal-negative-label {
    -fx-font-style: normal;
    -fx-text-fill: darkred;
}
