/*
 * Reduce the overall font size of the application

  Windows 12px -> em units    -> Mac 13px      |
  ----------------------------------------
       1px     -> 0.083333em  -> 1.08px ~ 2px
       2px     -> 0.166667em  -> 2.16px ~ 3px
       3px  = 0.25em
       4px  = 0.333333em
       5px  = 0.416667em
       6px  = 0.5em
       7px  = 0.583333em
       8px  = 0.666667em
       9px  = 0.75em
      10px  = 0.833333em
      11px  = 0.916667em
      12px  = 1em

      -fx-control-inner-background-alt is not defined for caspian
 */
.root{
    /* Hushes up Caspian without effecting Modena */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background,-2%);
}

.decimal-details > .arrow-button > .arrow {
    -fx-shape: "M491 1536l91-91-235-235-91 91v107h128v128h107zm523-928q0-22-22-22-10 0-17 7l-542 542q-7 7-7 17 0 22 22 22 10 0 17-7l542-542q7-7 7-17zm-54-192l416 416-832 832h-416v-416zm683 96q0 53-37 90l-166 166-416-416 166-165q36-38 90-38 53 0 91 38l235 234q37 39 37 91z";
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.416667em 0.416667em 0.333333em 0.333333em; /* 5 5 4 4 */
    -fx-scale-shape: true;
}

/*
 * Hide the focus around tables
 */
.table-view:focused,
.tree-table-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
    -fx-background-radius: 0, 0;
}

.table-row-cell {
    -fx-cell-size: 1.75em;
}

.tree-table-row-cell {
    -fx-cell-size: 1.75em;
}

/*
 * Ensure we have odd/even background changes
 */
.tree-table-row-cell:odd {
    -fx-background: -fx-control-inner-background-alt;
}

/*
 * Adjust margins of the status label for improved appearance
 */
.status-label {
    -fx-graphic-text-gap: 0.833333em;
    -fx-label-padding: 0em 0em 0em 0.25em;
}

.status-bar {
	-fx-padding: 4px;
	-fx-pref-height: 30px;
	-fx-background-color: lightgray, -fx-body-color;
	-fx-background-insets: 0, 1
}

.view-title {
    -fx-font-size: 0.9583335em;
    -fx-font-weight: bold;
    -fx-padding: 6 6 6 6;
}

.list-title {
    -fx-font-weight: bold;
}

.list-button {
    -fx-padding: 0.333333em 2.0em 0.333333em 2.0em;
}

.busy-pane {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.dialog {
    -fx-padding: 1.2em;
}

.form {
    -fx-hgap: 0.5em;
    -fx-vgap: 0.666666em;
    -fx-spacing: 0.5em;
}

.border {
    -fx-border-color:-fx-box-border;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.info-bar {
    -fx-hgap: 0.333333em;
	-fx-padding: 0.833333em;
	-fx-pref-height: 2.0em;
	-fx-background-color:
                linear-gradient(to bottom,
                    derive(-fx-color,-15%) 95%,
                    derive(-fx-color,-25%) 100%
                ),
                -fx-inner-border, -fx-body-color;
	-fx-font-size: 0.916667em;
    -fx-font-weight: bold;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3 3 3 3, 2 2 2 2, 1 1 1 1;
}

.summary-bar {
    -fx-padding: 0.3333em 0.75em 0.3333em 0.75em; /* 4 9 4 9 */
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 0 1 1 1, 1 2 2 1;
    -fx-font-weight: bold;
    -fx-size: 2em;
    -fx-text-fill: -fx-selection-bar-text;
}

#disabled-cell {
    -fx-opacity: 0.4;
    -fx-font-weight: bold;
}

#enabled-cell {
    -fx-opacity: 1.0;
    -fx-font-weight: normal;
}

#italic-label {
    -fx-font-style: italic;
}

#italic-negative-label {
    -fx-font-style: italic;
    -fx-text-fill: darkred;
}

#normal-label {
    -fx-font-style: normal;
}

#normal-negative-label {
    -fx-font-style: normal;
    -fx-text-fill: darkred;
}
