.root{
    -fx-font-size: 0.88em;
}

.view-title {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.list-title {
    -fx-font-weight: bold;
}

.list-button {
    -fx-padding: 0.333333em 2.0em 0.333333em 2.0em;
}

.busy-pane {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.dialog {
    -fx-padding: 1.2em;
}

.form {
    -fx-hgap: 0.5em;
    -fx-vgap: 0.666666em;
    -fx-spacing: 0.5em;
}
