.root{
    -fx-font-size: 0.88em;
}

.view-title {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.list-title {
    -fx-font-weight: bold;
}

.busy-pane {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.dialog {
    -fx-padding: 15;
}

.form {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-spacing: 10;
}