.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

.menu-item:focused {
    -fx-background-color: transparent;
}

.menu-item:focused .label {
    -fx-text-fill: -fx-text-base-color;
}

.context-menu {
    -fx-background-color: -fx-background;
    -fx-border-color: -fx-box-border;
}