.table-view .column-header-background {
    visibility: hidden;
    -fx-padding: -2em;
    -fx-size: 0;
 }

 .tree-table-view .column-header-background {
     visibility: hidden;
     -fx-padding: -2em;
     -fx-size: 0;
  }