/*noinspection ALL*/
*.scroll-bar:horizontal *.increment-button,
*.scroll-bar:horizontal *.decrement-button,
*.scroll-bar:horizontal *.increment-arrow,
*.scroll-bar:horizontal *.decrement-arrow {
    visibility: hidden;
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-bar:horizontal {
    visibility: hidden;
    -fx-opacity: 0;
    -fx-padding: 0;
}

